In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("archive/guardian_headlines.csv")

In [2]:
df.head(10)

        Time                                          Headlines
0  18-Jul-20   Johnson is asking Santa for a Christmas recovery
1  18-Jul-20  ‘I now fear the worst’: four grim tales of wor...
2  18-Jul-20  Five key areas Sunak must tackle to serve up e...
3  18-Jul-20  Covid-19 leaves firms ‘fatally ill-prepared’ f...
4  18-Jul-20  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
5  18-Jul-20  English councils call for smoking ban outside ...
6  18-Jul-20              Can Tesla justify a $300bn valuation?
7  18-Jul-20  Empty city centres: 'I’m not sure it will ever...
8  18-Jul-20  Democratising finance for all? An investment a...
9  18-Jul-20  Homebuyer loses £300,000 to fraudsters – but g...

In [3]:
review_df = df[['Headlines']]

print(review_df.shape)
review_df.head(5)

(17800, 1)

                                           Headlines
0   Johnson is asking Santa for a Christmas recovery
1  ‘I now fear the worst’: four grim tales of wor...
2  Five key areas Sunak must tackle to serve up e...
3  Covid-19 leaves firms ‘fatally ill-prepared’ f...
4  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...

In [4]:
# Convert 'Time' column to datetime
df['Time'] = pd.to_datetime(df['Time'])

# Filter data within the specified time frame
start_date = pd.to_datetime('2019-07-01')
end_date = pd.to_datetime('2020-07-31')
df_filtered = df[(df['Time'] >= start_date) & (df['Time'] <= end_date)]

/var/folders/ms/f642sm1j05dg1xy8j5xk2p580000gn/T/ipykernel_97491/4226706754.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: Jul-18, at position 615